<p id="notice"><%= notice %></p>

<%= form_tag groups_path, method: 'get' do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Groups" %>
  <%= submit_tag "Search", name: nil %>
<% end %>

<h1>Listing Groups</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Students</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @groups.each do |group| %>
      <% count, id = group.group_students_count %>
      <% if count == nil %>
        <% count = 0 %>
      <% end %>
      <tr>
        <td><%= group.title %></td>
        <td><%= count %></td>
        <td><%= link_to 'Show', group %></td>
        <td><%= link_to 'Edit', edit_group_path(group) %></td>
        <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Group', new_group_path %>
<%= link_to 'Create PDF', pdf_generator_groups_path %>

